src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="implementationFlow" doc:id="c6941b18-2889-4c99-9f54-2cba3ab49579" >
		<http:listener doc:name="Listener" doc:id="e655a068-a296-4c48-b534-f7f8d970e895" config-ref="american_flights_api-httpListenerConfig" path="/hello"/>
		<ee:transform doc:name="Transform Message" doc:id="72bd3c59-7bcd-46b6-94ed-84aabe99c0cf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Message: "Hello"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="b57ced03-8c0a-4ac1-a354-0db9358b83ff" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="659c32ab-0aba-4250-a87b-675da6991fc9" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="eacd5c39-f03b-4727-bd0a-42aadf4a182c" message="#[payload]"/>
	</flow>
</mule>
